@font-face {
  font-family: 'Monocraft';
  src: url('../assets/fonts/Monocraft.ttc') format('truetype');
}

/* MAIN */
html, body {
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100%;

    font-family: 'Monocraft', monospace;
    background-image: url('../assets/imgs/mc_background.jpg');
    background-color: rgb(95, 95, 95);
    background-blend-mode:hard-light;
    background-size: cover;
    background-repeat: no-repeat;
}

.blur-effect {
    position: fixed;
    inset: 0;

    background: url('../assets/imgs/mc_background.jpg');
    background-color: rgb(95, 95, 95);
    background-blend-mode:hard-light;
    background-size: cover;
    background-repeat: no-repeat;

    filter: blur(2px);
    transform: scale(1.01);
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: relative;
    gap: 10px;
    z-index: 1;
}

/* CONTENT */
h1 {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
    -webkit-text-stroke: 0.1px black;
}

.title-container {
    height: 100px;
}

.back-container a {
    display: inline-block;
    padding: 18px 100px;
    margin-top: 10px;

    background: #d9d9d9;
    color: #000;
    text-decoration: none;
    border: 4px solid #000;
    box-shadow:
        0 0 0 1px #000 inset,
        2px 2px 0 0 #00000050;
    font-size: 25px;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    line-height: 1;
    image-rendering: pixelated;
    cursor: pointer;
    border-radius: 0;
}

.main-container {
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;

    border-top: white 2px solid;
    border-bottom: white 2px solid;
    gap: 5px;
}

.main-container div {
    box-sizing: border-box;
    height: 200px;
    width: 1200px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    gap: 5px;
}

.main-container div img{
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    padding: 20px;
    margin-left: 5px;

    background-color: rgba(255, 255, 255, 0.085);
    flex: 0 0 auto;
}

.main-container div .project-content{
    display: flex;
    flex-direction: column;
    gap: 0;

    height: 150px;
    margin-top: 10px;

    color: white;
    font-size: 20px;
}

.main-container div .project-content > * {
    margin: 0;
    padding: 0;
}

.main-container div .project-content p{
    text-align: justify;
    font-size: 18px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 20px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-corner {
    background-color: #eee;
}

::-webkit-scrollbar-button {
    background-color: #eee;
    display: none;
}